body {
  margin: 0px;
}

body {
  height: 100vh;
}

.navbar {
  background-color: coral;
padding: 8px;
}

.mini-page {
  background-color: aqua;
  width: 100vw;
  display: grid;
  grid-template-areas:
  "nav nav"
  "aside main"  
  "footer footer";
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 20px 200px 20px;
}

.mini-page > header {
  grid-area: nav;
}

.mini-page > aside {
  grid-area: aside;
}

.mini-page > section {
  grid-area: main;
}

.mini-page > footer {
  grid-area: footer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-sm {
  gap: 5px;

}

.gap-md {
  gap: 10px;
  
}

.gap-lg {
  gap: 15px;
  
}

.flex-grow {
  flex-grow: 1;
}